/*
---------------------
    Variables
---------------------
*/

$orange: #f7a32a;

$blue: #1990ce;

$dk_gray: #4e4f4f;

$gray: #d7d8d9;

$oswald: 'Oswald', 'Ariel Narrow', sans-serif;

$grad-top: #d2d3d5;

$grad-bot: #f5f4f5;