/*
---------------------
    Variables
---------------------
*/
/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #000; }

html {
  font-size: 1em;
  line-height: 1.4;
  font-family: arial;
  background-color: #fff; }

body {
  background: #ffffff; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

a {
  text-decoration: none; }

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
audio,
canvas,
img,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/*
------------------
    Icon Fonts
-------------------
*/
@font-face {
  font-family: 'baystone';
  src: url("../fonts/baystone.eot?-jtnpyn");
  src: url("../fonts/baystone.eot?#iefix-jtnpyn") format("embedded-opentype"), url("../fonts/baystone.woff?-jtnpyn") format("woff"), url("../fonts/baystone.ttf?-jtnpyn") format("truetype"), url("../fonts/baystone.svg?-jtnpyn#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  font-family: 'baystone';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 1.6em;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-c-star:before {
  content: "\e61e"; }

.icon-star:before {
  content: "\e61f"; }

.icon-phone:before {
  content: "\e61c"; }

.icon-c-phone:before {
  content: "\e61d"; }

.icon-c-cart:before {
  content: "\e600"; }

.icon-c-computer:before {
  content: "\e601"; }

.icon-c-content:before {
  content: "\e602"; }

.icon-c-cust-service:before {
  content: "\e603"; }

.icon-c-email:before {
  content: "\e604"; }

.icon-c-keyword:before {
  content: "\e605"; }

.icon-c-local-dir:before {
  content: "\e606"; }

.icon-c-mobile:before {
  content: "\e607"; }

.icon-c-press-release:before {
  content: "\e608"; }

.icon-c-reporting:before {
  content: "\e609"; }

.icon-c-search:before {
  content: "\e60a"; }

.icon-c-seo:before {
  content: "\e60b"; }

.icon-c-social:before {
  content: "\e60c"; }

.icon-c-videos:before {
  content: "\e60d"; }

.icon-cart:before {
  content: "\e60e"; }

.icon-computer:before {
  content: "\e60f"; }

.icon-content:before {
  content: "\e610"; }

.icon-cust-service:before {
  content: "\e611"; }

.icon-email:before {
  content: "\e612"; }

.icon-keyword:before {
  content: "\e613"; }

.icon-local-dir:before {
  content: "\e614"; }

.icon-mobile:before {
  content: "\e615"; }

.icon-press-release:before {
  content: "\e616"; }

.icon-reporting:before {
  content: "\e617"; }

.icon-search:before {
  content: "\e618"; }

.icon-seo:before {
  content: "\e619"; }

.icon-social:before {
  content: "\e61a"; }

.icon-videos:before {
  content: "\e61b"; }

/*
---------------
    Global
---------------
*/
* {
  box-sizing: border-box; }

.container {
  width: 96%;
  max-width: 1000px;
  margin: 0 auto;
  position: relative; }

h1, h2, h3, h4, h5, p {
  margin: 0;
  color: #595959; }

h1, h2, h3, h4, h5 {
  font-family: 'Oswald'; }

.shadow {
  text-shadow: 1px 1px 5px #595959; }

/*
---------------
    Header
---------------
*/
header {
  width: 100%;
  height: 85px;
  background: #ffffff;
  box-shadow: 0 0 10px #000000;
  position: fixed;
  top: 0;
  z-index: 99999; }

header img {
  float: left;
  margin: 1% 1%;
  max-width: 100%; }

header p {
  color: #58595b;
  text-align: right;
  margin: 0;
  line-height: 3em;
  padding: 22px 44px 0 0; }

header div {
  height: 45px;
  width: 35%;
  float: right; }

/*
-------------
    Hero
-------------
*/
#hero {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,7db9e8+50,1e5799+100 */
  background: #2e4e7d;
  /* Old browsers */
  background: -moz-linear-gradient(left, #2e4e7d 0%, #4f89c5 50%, #2e4e7d 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #2e4e7d), color-stop(50%, #4f89c5), color-stop(100%, #2e4e7d));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #2e4e7d 0%, #4f89c5 50%, #2e4e7d 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #2e4e7d 0%, #4f89c5 50%, #2e4e7d 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #2e4e7d 0%, #4f89c5 50%, #2e4e7d 100%);
  /* IE10+ */
  background: linear-gradient(to right, #2e4e7d 0%, #4f89c5 50%, #2e4e7d 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$grad_start', endColorstr='$grad_end',GradientType=1 );
  /* IE6-9 */
  margin-top: 85px;
  position: inherit;
  border-bottom: 10px solid #f7a329;
  height: 440px; }

#hero h1 {
  display: block;
  font-family: 'Oswald';
  color: #fff;
  font-weight: 300;
  font-size: 50px;
  margin: 20px auto;
  text-align: center;
  padding-top: 10px; }

#hero img {
  display: inline-block;
  vertical-align: top;
  position: absolute;
  left: 40px;
  max-width: 100%; }

/*
--------------
    Form
--------------
*/
#signup {
  width: 40%;
  display: inline-block;
  position: absolute;
  right: 40px; }

form#landing {
  display: block;
  margin: 0 auto;
  width: 90%;
  padding-top: 15px; }

input[type="submit"] {
  display: block;
  background-color: #f7a329;
  color: #2e4e7d;
  font-family: 'Oswald';
  border-radius: 10px;
  border: medium none;
  padding: 10px 20px;
  width: 190px;
  margin: -3px auto;
  transition: all 300ms ease-out; }

input[type="submit"]:hover {
  background-color: #508ac7;
  color: #fff; }

#signup .half-form {
  display: inline-block;
  width: 47%;
  margin: 0 auto; }

input + div {
  margin-left: 10px !important; }

#signup div {
  display: block;
  width: 100%;
  margin: 27px auto; }

input[type="text"] {
  background-color: #FFFFFF;
  color: #595959;
  border: 1px solid #c7cad3;
  border-radius: 10px;
  font-size: 12px;
  height: 32px;
  padding: 5px 10px;
  margin: 0 auto;
  display: block;
  width: 90%; }

input[type="text"]:focus {
  border: 2px solid #f7a329;
  outline: none; }

label {
  display: block;
  color: #ffffff;
  font-size: 12px;
  margin-left: 20px; }

.half-form label {
  margin-left: 10px; }

/*
---------------------
    Main Content
---------------------
*/
#get_started {
  padding: 50px 0;
  margin: 50px 0;
  text-align: center; }
  #get_started h1, #get_started h2 {
    color: #508ac7;
    font-weight: 300; }
  #get_started h1 {
    font-size: 40px;
    margin-bottom: 30px; }
  #get_started h2 {
    font-size: 30px; }
  #get_started h2 + span, #get_started h2 + div {
    color: #f7a329;
    margin: 11px 0;
    display: block;
    width: 100%;
    height: 120px;
    position: relative; }
  #get_started .icon-computer {
    font-size: 120px; }
  #get_started .icon-cust-service {
    font-size: 100px; }
  #get_started .icon-seo {
    position: absolute;
    top: 0;
    left: 38%;
    font-size: 74px; }
  #get_started .icon-social {
    position: absolute;
    top: 30px;
    left: 18%;
    font-size: 74px; }
  #get_started .icon-local-dir {
    position: absolute;
    top: 37px;
    left: 57%;
    font-size: 60px; }

#get_started .container > div {
  display: table-cell;
  padding: 30px;
  width: 333px; }

#main2 {
  background-color: #595959;
  color: #fff;
  overflow: hidden;
  height: 360px;
  padding: 50px 0; }

#package {
  display: inline-block;
  width: 200px;
  text-align: center; }

#package h1 {
  font-family: 'Oswald';
  font-weight: normal;
  color: #f7a329;
  margin: 0;
  font-size: 71px;
  line-height: 84px; }

#package h4 {
  font-size: 27px;
  line-height: 23px; }

#package h2 {
  font-size: 46px;
  line-height: 53px;
  letter-spacing: 5px; }

#package h3 {
  font-size: 30px;
  line-height: 38px;
  letter-spacing: 2px; }

#package h2, #package h3, #package h4 {
  color: #ffffff;
  font-family: 'Oswald';
  font-weight: 300;
  text-transform: uppercase;
  margin: 0; }

#package hr {
  margin: 0; }

#package-copy {
  display: inline-block;
  vertical-align: top;
  width: 70%;
  margin-left: 50px; }

#package-copy h1 {
  color: #f7a329;
  font-family: 'Oswald';
  font-weight: normal;
  text-transform: uppercase; }

#package-copy p {
  color: #fff;
  font-size: 14px;
  line-height: 24px; }

.packages {
  display: table-cell;
  width: 130px; }

.packages span {
  color: #508ac7;
  font-size: 60px;
  margin: 20px auto 0 auto;
  display: block;
  width: 60px; }

.packages h3 {
  color: #fff;
  font-family: 'Oswald';
  font-weight: normal;
  text-align: center; }

/*
---------------------
      Footer
---------------------
*/
footer {
  height: 50px; }
  footer a {
    color: #595959; }
  footer img + p {
    font-size: 12px;
    padding-left: 10px; }

footer img {
  display: inline-block;
  padding-top: 50px; }

footer p + div {
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  right: 0;
  top: 60px; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media screen and (min-width: 50px) and (max-width: 960px) {
  #contact_strip {
    width: 40%; } }
@media screen and (min-width: 50px) and (max-width: 920px) {
  #hero {
    height: auto; }
    #hero img {
      display: block;
      margin: 0 auto;
      width: 100%;
      max-width: 480px;
      position: static; }

  #signup {
    display: block;
    width: 100%;
    position: static;
    margin-bottom: 20px; }

  form#landing {
    width: 40%; }

  #signup div {
    margin: 16px auto; }

  #main2 {
    height: auto; }

  #package {
    display: block;
    margin: 0 auto; }

  #package-copy {
    display: block;
    margin: 30px auto 20px auto;
    text-align: center; } }
@media screen and (min-width: 50px) and (max-width: 853px) {
  .icon-social {
    left: 8%; }

  .icon-local-dir {
    left: 65%; } }
@media screen and (min-width: 50px) and (max-width: 797px) {
  .icon-social {
    left: 0%; }

  .icon-local-dir {
    left: 75%; }

  header {
    height: auto; }

  header p {
    text-align: center;
    padding: 0; }

  header img {
    float: none;
    display: block;
    margin: 0 auto; }

  header div {
    float: none;
    display: block;
    margin: 0 auto;
    width: 100%; }

  header div {
    padding: 0 0 0 40px;
    text-align: center;
    line-height: 2em; } }
@media screen and (min-width: 50px) and (max-width: 700px) {
  .icon-social {
    left: 18%; }

  .icon-local-dir {
    left: 57%; }

  #get_started {
    padding: 0; }
    #get_started .container div {
      display: table;
      margin: 0 auto; }

  form#landing {
    width: 200px; }

  #signup .half-form {
    display: block;
    width: 100%;
    margin: 16px auto; }

  .half-form label {
    margin-left: 20px; }

  .packages {
    display: table;
    margin: 0 auto; }

  input + div {
    margin-left: 0 !important; }

  footer img, footer img + p {
    display: none; }

  footer p + div {
    position: relative;
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 100%; }
    footer p + div h2 {
      font-size: 20px; } }
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }

/*# sourceMappingURL=main.css.map */
