/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	-webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clear{
	clear:both;
}

/*
---------------------
fonts
---------------------
*/

@font-face {
    font-family: 'MuseoSans';
    src: url('../fonts/MuseoSans_500-webfont.eot');
    src: url('../fonts/MuseoSans_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MuseoSans_500-webfont.woff') format('woff'),
         url('../fonts/MuseoSans_500-webfont.ttf') format('truetype'),
         url('../fonts/MuseoSans_500-webfont.svg#MuseoSans500') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DroidSerif-Regular';
    src: url('../fonts/DroidSerif-Regular-webfont.eot');
    src: url('../fonts/DroidSerif-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DroidSerif-Regular-webfont.woff') format('woff'),
         url('../fonts/DroidSerif-Regular-webfont.ttf') format('truetype'),
         url('../fonts/DroidSerif-Regular-webfont.svg#DroidSerif-Regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DroidSerif-Bold';
    src: url('../fonts/DroidSerif-Bold-webfont.eot');
    src: url('../fonts/DroidSerif-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DroidSerif-Bold-webfont.woff') format('woff'),
         url('../fonts/DroidSerif-Bold-webfont.ttf') format('truetype'),
         url('../fonts/DroidSerif-Bold-webfont.svg#DroidSansBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*
---------------------
header
---------------------
*/

body{
	font-family: 'MuseoSans';
}

.container{
	width:1000px;
	margin: 0 auto;
}

#header{
	height:70px;
	padding-top:20px;
}

#logo{
	float:left;
	width:100px;
	height:51px;
	display: block;
	background:url(../img/logo.png) no-repeat;
}

.phone{
	color:#0075bf;
	font-size:23px;
	font-weight:900;
	line-height:20px;
	padding-left:34px;
	background:url(../img/phone.jpg) no-repeat left center;
}

#header_right{
	float:right;
}

/*
---------------------
feature
---------------------
*/

#feature{
	width:100%;
	height:400px;
	background:url(../img/feature.jpg) repeat-x;
}

#feature_content{
	padding-top:1px;
	height:400px;
	background:url(../img/seo.png) no-repeat right bottom;
}

#box{
	float:left;
	width:258px;
	height:290px;
	border:3px solid #fff;
	background:#fdb830;
	margin-top:41px;
	padding-top: 10px;
	text-align: center;
	-webkit-box-shadow:  0px 0px 10px 0px rgba(0, 0, 0, .4);
	box-shadow:  0px 0px 10px 0px rgba(0, 0, 0, .4);
}

#box h2{
	font-family: 'DroidSerif-Regular';
	font-size:22px;
	color:#032c5b;
	font-weight:100;
	margin:5px 0 0 0;
	padding: 0 3px;
	text-shadow: 1px 1px 1px #b5d498;
	line-height: 35px;
}

#box h3{
	font-size:45px;
	font-family: 'DroidSerif-Bold';
	color:#032c5b;
	font-style: italic;
	margin:7px 0 0 0;
	text-shadow: 1px 1px 1px #b5d498;
}

#box h4{
	font-family: 'DroidSerif-Regular';
	font-size:20px;
	color:#032c5b;
	font-weight:100;
	margin:7px 0 0 0;
	text-shadow: 1px 1px 1px #b5d498;
	line-height:26px;
}

#box hr{
	margin:20px;
	border-top:1px solid #032c5b;
	border-bottom:1px solid #bad69e;
}

#box p{
	color:#fff;
	font-size:16px;
	margin:0;
	font-weight:100;
}

#box h5{
	font-size:27px;
	font-weight:900;
	color:#fff;
	margin:7px 0 0 0;
}

#box .or{
	display: block;
	margin:7px 0 0 0;
	color:#707070;
	font-size:14px;
	text-shadow: 1px 1px 1px #b5d498;
}

#box a{
	display: inline-block;
	width:218px;
	line-height:40px;
	border: 1px solid #5c694f;
	margin:7px 0 0 0;
	color:#fff;
	text-decoration: none;
	border-radius:4px;
	background:url(../img/button.png) repeat-x left top;
	-webkit-box-shadow:  0px 0px 6px 0px rgba(0, 0, 0, .4);
	box-shadow:  0px 0px 6px 0px rgba(0, 0, 0, .4);
}

#box a:hover{
	background:url(../img/button.png) repeat-x left bottom;
}
#box .bigtext{
	font-size:36px;
	line-height: 36px;
	font-family: 'DroidSerif-Bold';
	font-style: italic;
	text-shadow: 1px 1px 1px #b5d498;
}
#box .biggertext{
	font-size: 50px;
	line-height: 50px;
	font-family: 'DroidSerif-Bold';
	font-style: italic;
	text-shadow: 1px 1px 1px #b5d498;
	padding-top: 10px;
}

#box .smallertext{
	font-size: 22px;
	line-height: 25px;
	font-style: italic;
	color:#014773;
	font-family: 'DroidSerif-Bold';
	text-shadow: 1px 1px 1px #ffffff;
}

#box.paddingtop{
	padding-top: 10px;
}

.sign-up{
	background:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #545454), color-stop(100%, #c9c9c9));
	background:-webkit-linear-gradient(#545454,#c9c9c9);
	background:-moz-linear-gradient(#545454,#c9c9c9);
	background:-o-linear-gradient(#545454,#c9c9c9);
		-pie-background:linear-gradient(#545454,#c9c9c9);
	background:linear-gradient(#545454,#c9c9c9);
	-webkit-box-shadow:1px 1px 4px rgba(0,0,0,0.5);
	-moz-box-shadow:1px 1px 4px rgba(0,0,0,0.5);
	box-shadow:1px 1px 4px rgba(0,0,0,0.5);
	border-radius:3px;
	color:#fff;
	display:block;
	font:14px/20px 'Museosans', Arial, Helvetica, sans-serif;
	margin:11px 0 0;
	padding:1px;
	text-decoration:none;
	text-transform:uppercase;
}

#box .special {
	color: #ffffff;
	font-size: 30px;
}

/*
---------------------
body
---------------------
*/

#main{
	padding-top:35px;
	line-height:20px;
	font-size:16px;
	color:#898989;
	padding-bottom:50px;
}

#main h1{
	font-size:23px;
	line-height: 30px;
	color:#004479;
	font-family: 'DroidSerif-Bold';
	margin: 15px 0;
}

#main h2{
	color:#004479;
	font-size:16px;
	margin-top: 20px;
}

#main p{
	margin-top:15px;
}

#main p.blue{
	color:#0075bf;
}

#main .bold{
	font-weight: bold;
}

#main .italics{
	font-style: italic;
}

#main_left{
	width:449px;
	padding-right: 50px;
	border-right: 1px solid #E4E4E4;
	float:left;
}

#main_right{
	float:left;
	width:449px;
	margin-left: 50px;
}

#main_right p{
	margin:0;
}

.bulletlist strong{
	font-weight: 600;
	color: #72828E;
}

ul.bulletlist > li{
	margin: 10px 0;
}

#main_cta{
	text-align: center;
	margin-top: 50px;
}

#main_cta h1{
	font-size:33px;
	line-height: 40px;
	color:#004479;
	font-family: 'DroidSerif-Bold';
	margin: 15px 0;
	text-shadow: 1px 1px 1px #555555;
}

#main_cta h2{
	font-size:36px;
	line-height: 30px;
	color:#004479;
	font-family: 'DroidSerif-Bold';
	margin: 15px 0;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

/*
-------------------
Footer
-------------------
*/

#footer {
	background: url('../img/footerBG.jpg') repeat-x;
	height: 200px;
	margin-top:5px;
}

#footerContent {
	width: 1020px;
	margin: auto;
}

#footer-links {
clear: both;
font-size: 11px;
color: #898989;
font-family: 'MuseoSans'; 
}

#social {
	height: 66px;
	margin-top: 58px;
	float: left;
}

#social p {
	font-family: 'DroidSerif-Bold';
	color: #FFF;
	font-size: 27px;
	float: left;
	line-height: 40px;
}

#social ul {
	margin: 0px 0 0 220px;

}

#social li {
	display: inline;
}

#social a {
	display: inline-block;
}

#social a.facebook {
	background: url('../img/facebook.png') no-repeat;
	height: 34px;
	width: 34px;
}

#social a.twitter {
	background: url('../img/twitter.png') no-repeat;
	height: 34px;
	width: 34px;
}

#social a.linkedin {
	background: url('../img/linkedin.png') no-repeat;
	height: 34px;
	width: 34px;
}

#social a.blog{
	background: url('../img/blog.png') no-repeat;
	height: 34px;
	width: 34px;
}

.social-tagline { color: #00446a; text-transform: uppercase; margin-bottom: 10px 0; display: block; }

/*
--------------
Overlay
--------------
*/

#overlay {
     visibility: hidden;
     position: absolute;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     text-align:left;
     z-index: 1000;
     background-image:url('../img/background-trans.png');
}

#overlay div {
     width:350px;
     margin: 100px auto;
     background-color: #EEF4F7;
     border:1px solid #000;
     padding:35px;
     text-align:right;
     border-radius: 10px;
}

#overlay input[type="text"] {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #7b7b7b;
    border-radius: 7px 7px 7px 7px;
    font-size: 12px;
    height: 25px;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 5px 10px;
    width: 210px;
}

#overlay select {
	margin-bottom: 15px;
	margin-left: 15px;
}

#overlay .submit {
    background: url("../img/go-submit.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    height: 30px;
    margin-top: 10px;
    text-align: center;
    width: 30px;
}

input.phone{
	color:#000;
	font-size:12px;
	font-weight:100;
}

#overlay p{
	margin:20px 0;
	font-size:12px;
	line-height:18px;
	color:#5e5e5e;
}

#overlay label{
	font-size:12px;
	line-height:18px;
	color:#5e5e5e;
}

#overlay a{
	color:#014773;
}

#overlay h1, #overlayh2 { margin-bottom: 25px; }

#overlay h1 { font-family: 'DroidSerif-Bold'; font-size: 31px; color: #014773; }
#overlay h2 { font-family: 'DroidSerif-Regular'; color: #0075bf; font-size: 25px; font-weight: normal; }
#overlay h3 { font-family: 'MuseoSans'; color: #004479; font-size: 18px; margin-bottom: 10px; }

