/*
---------------------
    Variables
---------------------
*/

$dk_gray: #606162;

$lt_gray: #eaeaea;

$med_gray: #abadb0;

$dk_blue: #305180;

$blue: #4272a9;

$AoPcolor: #1ba9d7;

$AoPcolor2:#96d8ee;

$yellow: #f7a329;

$white: #ffffff;

$black: #231f20;

$blue: #4272a9;



