/*
---------------------
    Main Content
---------------------
*/

section#section1, section#section2{
	position: relative;
	padding: 100px 0;
	z-index: 800;
	text-align: center;

	.container{
		display: table;
	}

	.text{
		display: table-cell;
		vertical-align: middle;
		padding-right: 40px;
	}

	.image{
		display: table-cell;
		vertical-align: middle;

		
	}
}

section#section1{ 
	background-color: $white;
	margin-top: -50px;
	padding: 150px 0 100px 0;


	.text{
		padding-left: 40px;
	}

	h1{
		color: $dk_blue;
		font-size: 24px;
		padding-bottom: 10px;
	}

	p{
		color: $dk_blue;
		font-size: 16px;
		line-height: 30px;
	}
}

section#section2{ 
	background-color: #1d4373;

	.text{
		padding-right: 40px;
	}

	h1{
		color: $white;
		font-size: 24px;
		padding-bottom: 10px;
	}

	p{
		color: $white;
		font-size: 16px;
		line-height: 30px;
	}
}

section#section3{
	#tabs{
		width: 100%;
	}
	.tabs-nav{
		list-style: none;
		margin: 0;
		padding: 30px 0 15px 0;
		width: 100%;
		display: flex;
	}
	.tabs-nav-link{
		flex: 1;
		color: $blue;
		font-size: 3em;
		text-align: center;
		margin: 0 20px;
		position: relative;
	}
	.tabs-nav-link:hover{
		color:$yellow;
	}
	.tabs-nav-link.is-active{
		color:$yellow;
	}
	.tabs-nav-link:before{
		content:"";
		width:0;
		position: absolute;
		top: 100%;
		left: 50%;
		margin-left: -13px;
		border: 15px solid $blue;
		border-color: $blue transparent transparent transparent;
	}
	.tabs-nav-link:hover::before, .tabs-nav-link.is-active::before{
		content:"";
		width:0;
		position: absolute;
		top: 100%;
		left: 50%;
		margin-left: -13px;
		border: 15px solid $yellow;
		border-color: $yellow transparent transparent transparent;
	}
	.tabs-nav-link.is-active::before{
		margin-top: 10px;
	}
	.direction{
		text-align: center;
		margin: 30px 0 50px 0;
	}
	.direction.hide{
		display: none;
	}

	.tab{
		display: none;
	}
	.tab.is-active{
		background-color: $AoPcolor2;
		display: block;
		margin: 10px 0 50px 0;
		padding: 20px;

		p, h1{
			color: $dk_gray;
		}
		p{
			padding-right: 70px;
			padding-left: 50px;
		}
		h1{
			padding-bottom: 15px;
		}
	}

	.tab.is-active:before{
		content:"";
		width:0;
		position: absolute;
		margin-top: -20px;
		border: 15px solid $white;
		border-color: $white transparent transparent transparent;
	}

	#tab-1.is-active:before{
		left: 7%;
	}
	#tab-2.is-active:before{
		left: 23.7%;
	}
	#tab-3.is-active:before{
		left: 40.5%;
	}
	#tab-4.is-active:before{
		left: 57%;
	}
	#tab-5.is-active:before{
		left: 73.7%;
	}
	#tab-6.is-active:before{
		left: 90.5%;
	}

	.tabs .tab-content span{
		display: none;
	}

	.tabs.no-js .tab-content span{
		display: block;
		color: $blue;
		font-size: 3em;
		text-align: center;
		margin: 0 auto;
	}

	.tabs.no-js h1{
		display: block;
	}

	.tabs.no-js .tabs-nav{
		display: none;
	}

	.tabs.no-js .tab{
		display: block;
		margin-bottom: 40px;
	}

	.tabs.no-js .tab:last-child{
		margin-bottom: 0;
	}
}