/*
------------------
      Footer
-------------------
*/




footer {
  background-color: #ffffff;
  height: 70px;
}

footer .container{
  padding: 20px 40px 20px 60px;
}

footer img{
  float: left;
  
}

footer p {
  float: right;
  color: #00143e;
}