/*
------------------
    Icon Fonts
-------------------
*/
@font-face {
    font-family: 'baystone';
    src:url('../fonts/baystone.eot?-jtnpyn');
    src:url('../fonts/baystone.eot?#iefix-jtnpyn') format('embedded-opentype'),
        url('../fonts/baystone.woff?-jtnpyn') format('woff'),
        url('../fonts/baystone.ttf?-jtnpyn') format('truetype'),
        url('../fonts/baystone.svg?-jtnpyn#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'baystone';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 1.6em;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-c-star:before {
    content: "\e61e";
}
.icon-star:before {
    content: "\e61f";
}

.icon-phone:before {
    content: "\e61c";
}
.icon-c-phone:before {
    content: "\e61d";
}
.icon-c-cart:before {
    content: "\e600";
}
.icon-c-computer:before {
    content: "\e601";
}
.icon-c-content:before {
    content: "\e602";
}
.icon-c-cust-service:before {
    content: "\e603";
}
.icon-c-email:before {
    content: "\e604";
}
.icon-c-keyword:before {
    content: "\e605";
}
.icon-c-local-dir:before {
    content: "\e606";
}
.icon-c-mobile:before {
    content: "\e607";
}
.icon-c-press-release:before {
    content: "\e608";
}
.icon-c-reporting:before {
    content: "\e609";
}
.icon-c-search:before {
    content: "\e60a";
}
.icon-c-seo:before {
    content: "\e60b";
}
.icon-c-social:before {
    content: "\e60c";
}
.icon-c-videos:before {
    content: "\e60d";
}
.icon-cart:before {
    content: "\e60e";
}
.icon-computer:before {
    content: "\e60f";
}
.icon-content:before {
    content: "\e610";
}
.icon-cust-service:before {
    content: "\e611";
}
.icon-email:before {
    content: "\e612";
}
.icon-keyword:before {
    content: "\e613";
}
.icon-local-dir:before {
    content: "\e614";
}
.icon-mobile:before {
    content: "\e615";
}
.icon-press-release:before {
    content: "\e616";
}
.icon-reporting:before {
    content: "\e617";
}
.icon-search:before {
    content: "\e618";
}
.icon-seo:before {
    content: "\e619";
}
.icon-social:before {
    content: "\e61a";
}
.icon-videos:before {
    content: "\e61b";
}
