/*
---------------------
      Footer
---------------------
*/

footer {
	background-color: #1e3d69;
	color: #fff;
	font-size: 12px;
	position: relative;
	padding: 30px 0;

	a{
		color: #fff;
		text-decoration: none;
		font-size: 12px;
	}

	a:hover{
		text-decoration: underline;
	}

	h1{
		color: $sec_color;
		font-size: 24px;
	}

	h2{
		color: #fff;
		font-size: 28px;
		font-weight: 300;
		font-family: Arial;
	}

	p{
		color: #fff;
	}

	img{
		padding: 0 0 10px 0;
	}

	.left_footer{
		display: inline-block;
		vertical-align: top;
	}

	.right_footer{
		display: inline-block;
		text-align: right;
		position: absolute;
		right: 0;
	}

	.links_left, .links_right{
		a{
			display: block;
			padding: 3px 0;
		}
	}

	.links_left{
		float: left;
		padding-left: 30px;
	}

	.links_right{
		float:right;
		padding-left: 30px;
	}
}