/*
---------------------
    Variables
---------------------
*/

$main-color: #f38629;

$sec-color: #1990ce;

$dk_gray: #595959;

$lt_gray: #eaeaea;

$med_gray: #abadb0;

$grad_start: #f38629;

$grad_end: #eaa843;



