/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media screen and (min-width: 50px) and (max-width: 880px){

    #landing{
        padding: 0 40px 20px 40px;
    }
    .half-form{
        display: block;
        width: 70%;
        margin: 33px auto;
    }
    input[type="submit"]{
        margin: 0 auto;
    }

    section#section1, section#section2{

        .image{
            display: table-header-group;

            img{
                display: block;
                margin: 0 auto;
            }
        }

        .text{
            text-align: center;
            padding: 0 20px;
        }
    }
}

@media screen and (min-width: 50px) and (max-width:650px){
    footer{
        text-align: center;

        .links{
            display: none;
        }

        .right_footer{
            display: block;
            text-align: center;
            position: static;
        }
    }


    section#section1, section#section2{
        .text{
            padding-right: 15px;
            padding-left: 15px;
        }
    }
    
}

@media screen and (min-width: 50px) and (max-width: 500px){
    .half-form{
        display: block;
        width: 100%;
        margin: 33px auto;
    }

    header{
        height: auto;

    }
    header img{
        float: none;
        margin: 0 auto;
        display: block;
        padding: 0 0 0 0;
    }
    header div{
        height: auto;
        float: none;
        margin: 0 auto;
        height: auto;
    }
    header p{
        text-align: center;
        padding: 5px 0;
        line-height: 1em;
    }

    section#section2 img{
        max-width: 500px;
        width: 100%;
    }

}