/*
---------------------
    Variables
---------------------
*/

$main-color: #508ac7;

$sec-color: #f7a329;

$dk_gray: #797979;

$lt_gray: #eaeaea;

$med_gray: #abadb0;

$grad_start: #2e4e7d;

$grad_end: #4f89c5;



