/*
---------------------
    Variables
---------------------
*/

$orange: #f7a32a;

$blue: #f7a32a;

$dk_gray: #4e4f4f;

$gray: #5084c4;

$oswald: 'Oswald', 'Ariel Narrow', sans-serif;

$grad-top: #305685;

$grad-bot: #5185c5;

