/*
---------------
    Header
---------------
*/

header{
	position: relative;
	background-color: #fff;
	padding: 15px 0;
	width: 100%;
	z-index: 700;
}

header img{
	margin: 0 auto;
	display: block
}