/*
---------------------
    Main Content
---------------------
*/

#get_started {
	padding: 50px 0;
	margin: 50px 0;
	text-align: center;

	h1, h2{
		color: $main-color;
		font-weight: 300;
	}

	h1{
		font-size: 40px;
		margin-bottom: 30px;
	}

	h2{
		font-size: 30px;
	}

	h2 + span, h2 + div {
		color: $sec-color;
		margin: 11px 0;
		display: block;
		width: 100%;
		height: 120px;
		position: relative;
	}

	.icon-computer{
		font-size: 120px;
	}

	.icon-cust-service{
		font-size: 100px;
	}

	.icon-seo{
		position: absolute;
		top: 0;
		left: 38%;
		font-size: 74px;
	}

	.icon-social{
		position: absolute;
		top: 30px;
		left: 18%;
		font-size: 74px;
	}

	.icon-local-dir{
		position: absolute;
		top: 37px;
		left: 57%;
		font-size: 60px;
	}

}



#get_started .container > div{
		display: table-cell;
		padding: 30px;
		width: 333px;
}

#main2 {
	background-color: $dk_gray;
	color: #fff;
	overflow: hidden;
	height: 360px;
	padding: 50px 0;
}

#package{
	display: inline-block;
	width: 200px;
	text-align: center;
}

#package h1{
	font-family: 'Oswald';
	font-weight: normal;
	color: $sec-color;
	margin: 0;
	font-size: 71px;
	line-height: 84px;
}

#package h4{
	font-size: 27px;
	line-height: 23px;
}

#package h2{
	font-size: 46px;
	line-height: 53px;
	letter-spacing: 5px;
}

#package h3{
	font-size: 30px;
	line-height: 38px;
	letter-spacing: 2px;
}


#package h2, #package h3, #package h4{
	color: #ffffff;
	font-family: 'Oswald';
	font-weight: 300;
	text-transform: uppercase;
	margin: 0;
} 

#package hr{
	margin: 0;
}

#package-copy{
	display: inline-block;
	vertical-align: top;
	width: 70%;
	margin-left: 50px;
}

#package-copy h1{ 
	color: $sec-color;
	font-family: 'Oswald';
	font-weight: normal;
	text-transform: uppercase;
}

#package-copy p{
	color: #fff;
	font-size: 14px;
	line-height: 24px;
}

.packages {
	display: table-cell;
	width: 130px;
}

.packages span{
	color: $main-color;
	font-size: 60px;
	margin: 20px auto 0 auto;
	display: block;
	width: 60px;
}

.packages h3{
	color: #fff;
	font-family: 'Oswald';
	font-weight: normal;
	text-align: center;
}
