/*
------------------
      Footer
-------------------
*/


footer{
	display: block;
	background-color: #ffffff;
	color: #005ea5;
	font-size: 12px;

	position: relative;
	padding: 20px 0;

	
}

#phone-no{
	display:inline-block;
	position: absolute;
	right: 0;
	top: 10px;
	font-size: 18px;
}