/*
---------------
    Header
---------------
*/

header{
	position: fixed;
	top: 0;
	background-color: #fff;
	padding-top: 10px;
	width: 100%;
	z-index: 999999;
	text-align: center;
}

header .container {
	height: 45px;
	position: relative;
}

header img{
	display: inline-block;
}

img#Rcurve{
	position: absolute;
	right: 10%;
}

img#Lcurve{
	position: absolute;
	left: 10%;
}
