/*
-------------
    Hero
-------------
*/
#hero{
	margin-top: 76px;
}

#hero h1{
	font-family: 'Droid Serif';
	padding: 80px 0 10px 0;
}

#hero  p{
	padding: 40px 30px 50px 30px;
	font-size: 14px;
	line-height: 26px;
	display: inline-block;
	width: 50%;
}

#hero img{
	display: inline-block;
	vertical-align: top;
	padding-top: 10px;
}

#wrapper > img{
	position: fixed;
	right: 0;
	bottom: 45px;

	z-index: 999999;
	width: 30%;
}

#hero .design_gal{
	
}

#hero a:hover{
	background-color: $yellow;
	color: $grad_top;
	box-shadow: 1px 1px 2px #000000;
}

#hero a{
	display: inline-block;
	background-color: $grad_end;
	border-radius: 15px;
	padding: 15px;

	position: relative;
	bottom: 110px;
	left: 340px;
	color: #ffffff;

	box-shadow: 2px 2px 3px #000000;

	-webkit-transition: background-color 300ms ease-out;
    -moz-transition: background-color 300ms ease-out;
    -o-transition: background-color 300ms ease-out;
    transition: background-color 300ms ease-out;
}




