/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #000; }

html {
  font-size: 1em;
  line-height: 1.4;
  font-family: arial;
  background-color: #fff;
  height: 100%; }

body {
  margin: 0;
  height: 100%; }

* {
  box-sizing: border-box; }

.container {
  width: 96%;
  max-width: 1000px;
  margin: 0 auto;
  position: relative; }

#wrapper {
  width: 100%;
  overflow: hidden; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

a {
  text-decoration: none; }

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
audio,
canvas,
img,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

h1, h2, h3, h4, h5, p {
  margin: 0; }

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/*
------------------
    Icon Fonts
-------------------
*/
@font-face {
  font-family: 'officite';
  src: url("../fonts/officite.eot?j8fuh");
  src: url("../fonts/officite.eot?#iefixj8fuh") format("embedded-opentype"), url("../fonts/officite.ttf?j8fuh") format("truetype"), url("../fonts/officite.woff?j8fuh") format("woff"), url("../fonts/officite.svg?j8fuh#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  font-family: 'officite';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-mobile:before {
  content: "\e606"; }

.icon-c-mobile:before {
  content: "\e60c"; }

.icon-c-cursor:before {
  content: "\e612"; }

.icon-check:before {
  content: "\e600"; }

.icon-phone:before {
  content: "\e601"; }

.icon-rocket:before {
  content: "\e602"; }

.icon-c-check:before {
  content: "\e603"; }

.icon-c-phone:before {
  content: "\e604"; }

.icon-c-rocket:before {
  content: "\e605"; }

.icon-pted:before {
  content: "\e607"; }

.icon-reptrack:before {
  content: "\e608"; }

.icon-search:before {
  content: "\e609"; }

.icon-social:before {
  content: "\e60a"; }

.icon-web:before {
  content: "\e60b"; }

.icon-c-pted:before {
  content: "\e60d"; }

.icon-c-reptrack:before {
  content: "\e60e"; }

.icon-c-search:before {
  content: "\e60f"; }

.icon-c-social:before {
  content: "\e610"; }

.icon-c-web:before {
  content: "\e611"; }

/*
---------------------
    variables
---------------------
*/
/*
---------------
    Global
---------------
*/
.blue-band {
  height: 15px;
  background-color: #005ea5; }

/*
---------------
    Header
---------------
*/
header {
  position: fixed;
  top: 0;
  background-color: #fff;
  padding-top: 10px;
  width: 100%;
  z-index: 999999;
  text-align: center; }

header .container {
  height: 45px;
  position: relative; }

header img {
  display: inline-block; }

img#Rcurve {
  position: absolute;
  right: 10%; }

img#Lcurve {
  position: absolute;
  left: 10%; }

/*
-------------
    Hero
-------------
*/
#hero {
  background: url("../img/hero-bk.gif");
  margin-top: 70px;
  color: #005ea5;
  height: 470px;
  overflow: visible;
  position: relative; }
  #hero h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 70px;
    padding: 130px 0 0 80px;
    font-weight: normal; }
  #hero h2 {
    font-family: 'Cinzel', serif;
    font-size: 55px;
    padding-left: 130px;
    text-transform: uppercase;
    font-weight: normal; }
  #hero img {
    display: inline-block;
    max-width: 100%;
    position: absolute;
    right: 0;
    top: 40px; }

#headline {
  background: url("../img/bk-img.png") no-repeat center center;
  background-size: 100% 100%;
  width: 436px;
  height: 436px;
  display: inline-block;
  margin: 20px 0; }

/*
---------------
    form
---------------
*/
#form {
  margin-bottom: 30px;
  margin-left: 50px;
  padding-bottom: 70px;
  display: inline-block;
  vertical-align: top; }
  #form h1 {
    display: block;
    height: 50px;
    width: 100%; }
  #form p {
    font-size: 12px;
    color: #ffffff;
    text-align: center;
    width: 400px;
    margin: 7px auto 0 auto; }

#lead_capture {
  width: 400px;
  display: inline-block; }
  #lead_capture div {
    margin: 15px 0;
    width: 400px;
    position: relative; }
  #lead_capture label {
    display: block;
    color: #032c5b;
    text-align: center;
    font-size: 14px; }
  #lead_capture input[type="text"] {
    width: 100%;
    height: 30px;
    border-radius: 7px;
    border: 1px solid #C5C5C5;
    padding: 5px; }
  #lead_capture input:focus, #lead_capture select:focus {
    outline: none;
    border: 2px solid #032c5b; }
  #lead_capture select {
    width: 400px;
    height: 30px;
    padding-left: 10px;
    border-radius: 7px;
    border: 1px solid #C5C5C5;
    vertical-align: bottom; }
  #lead_capture .red {
    color: #e81111;
    font-size: 14px;
    margin: 0;
    padding: 0 5px 0 5px; }
  #lead_capture input[type="submit"] {
    background: url("../img/btn-bk.png") no-repeat center center;
    display: block;
    background-color: #032c5b;
    color: #b9cfdd;
    font-weight: lighter;
    font-size: 16px;
    border-radius: 10px;
    border: medium none;
    padding: 5px 10px;
    width: 210px;
    margin: 0 auto 0 auto;
    transition: all 200ms ease-out; }
  #lead_capture input[type="submit"]:hover {
    background-color: #001032;
    color: #b9cfdd; }

span#state-select, span#market-select {
  padding: 0;
  font-size: 0px; }

@supports (pointer-events: none) and ((-webkit-appearance: none) or (-moz-appearance: none) or (appearance: none) or (-ms-appearance: none) or (-o-appearance: none)) {
  #lead_capture select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    padding-right: 25px;
    position: relative;
    z-index: 100; }

  span#state-select::after, span#market-select::after {
    content: "\e613";
    font-family: 'officite';
    color: rgba(0, 20, 54, 0.9);
    font-size: 14px;
    position: absolute;
    top: 24px;
    right: 6px;
    pointer-events: none;
    z-index: 300; } }
/*
---------------------
    Main Content
---------------------
*/
main {
  color: #005ea5;
  text-align: center; }
  main h1 {
    font-family: 'Great Vibes', cursive;
    font-weight: normal;
    padding: 70px 0 0 0;
    font-size: 50px; }
  main h2 {
    font-family: 'Cinzel', serif;
    font-weight: normal;
    padding: 20px 0;
    font-size: 25px; }
  main p {
    padding: 20px 0; }
  main img {
    padding: 20px 0;
    max-width: 100%; }
  main a {
    display: block;
    background-color: #005ea5;
    color: #fff;
    font-family: 'Cinzel', serif;
    padding: 10px;
    width: 300px;
    margin: 10px auto;
    border-radius: 7px;
    transition: all 200ms ease-out; }
  main a:hover {
    background-color: #001032; }

#invited {
  padding: 70px 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e7f2f8+0,ffffff+50,e7f2f8+100 */
  background: #e7f2f8;
  /* Old browsers */
  background: -moz-linear-gradient(left, #e7f2f8 0%, #ffffff 50%, #e7f2f8 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #e7f2f8), color-stop(50%, #ffffff), color-stop(100%, #e7f2f8));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #e7f2f8 0%, #ffffff 50%, #e7f2f8 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #e7f2f8 0%, #ffffff 50%, #e7f2f8 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #e7f2f8 0%, #ffffff 50%, #e7f2f8 100%);
  /* IE10+ */
  background: linear-gradient(to right, #e7f2f8 0%, #ffffff 50%, #e7f2f8 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7f2f8', endColorstr='#e7f2f8',GradientType=1 );
  /* IE6-9 */ }

#rsvp {
  background-image: url("../img/rsvp-bk.jpg");
  background-position: fixed;
  background-size: cover;
  background-color: #e2ebef;
  height: 100%;
  margin-top: 70px;
  padding-top: 40px; }
  #rsvp h1 {
    padding: 160px 0 0 0; }

/*
------------------
      Footer
-------------------
*/
footer {
  display: block;
  background-color: #ffffff;
  color: #005ea5;
  font-size: 12px;
  position: relative;
  padding: 20px 0; }

#phone-no {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 10px;
  font-size: 18px; }

/*
------------------
    Overlay
-------------------
*/
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media screen and (max-width: 900px) {
  #headline {
    width: 300px;
    height: 300px; }

  #hero h1 {
    padding: 95px 30px 0 0;
    font-size: 50px;
    text-align: center; }
  #hero h2 {
    font-size: 40px;
    padding-left: 0;
    text-align: center; }

  #rsvp h1 {
    padding: 110px 0 0 0;
    font-size: 50px;
    text-align: center; }
  #rsvp p {
    font-size: 12px;
    padding: 0; } }
@media screen and (max-width: 675px) {
  #headline {
    display: block;
    margin: 0 auto; }

  #hero {
    height: auto; }
    #hero img {
      display: block;
      position: static;
      width: 80%;
      margin: 0 auto; }

  #invited {
    padding-top: 30px; }

  main h1 {
    padding-top: 30px; }

  #form {
    margin-left: 0; }

  #lead_capture {
    width: 100%; } }
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }

/*# sourceMappingURL=main.css.map */
